<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h1>📊 Student Dashboard</h1>

<canvas id="cgpaChart"></canvas>

<script>
    const names = {{ students | map(attribute=1) | list | tojson }};
    const cgpas = {{ students | map(attribute=7) | list | tojson }};

    const ctx = document.getElementById('cgpaChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: names,
            datasets: [{
                label: 'CGPA',
                data: cgpas
            }]
        }
    });
</script>

<br>
<a href="/">⬅ Back</a>

</body>
</html>
