<!DOCTYPE html>
<html>
<head>
    <title>Smart College System</title>
</head>
<body>

<h1>🎓 Smart College System</h1>

<!-- ADD -->
<form method="POST">
    <input type="hidden" name="action" value="add">
    <input name="name" placeholder="Name" required>
    <input name="roll" placeholder="Roll (e.g 22B81A0501)" required>
    
    <select name="dept">
        <option>CSE</option>
        <option>ECE</option>
        <option>MECH</option>
    </select>

    <select name="section">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>

    <input name="subjects" placeholder="No of Subjects" required>
    <input name="marks" placeholder="Marks (80,90,70)" required>

    <button>Add</button>
</form>

<hr>

<!-- SEARCH -->
<form method="POST">
    <input type="hidden" name="action" value="search">
    <input name="search_roll" placeholder="Search by Roll">
    <button>Search</button>
</form>

<hr>

<!-- DELETE -->
<form method="POST">
    <input type="hidden" name="action" value="delete">
    <input name="roll" placeholder="Roll to delete">
    <button>Delete</button>
</form>

<hr>

<!-- UPDATE -->
<form method="POST">
    <input type="hidden" name="action" value="update">
    <input name="roll" placeholder="Roll">
    <input name="marks" placeholder="New Marks">
    <button>Update</button>
</form>

<hr>

<h2>Student List</h2>

<table border="1">
<tr>
    <th>Name</th>
    <th>Roll</th>
    <th>Dept</th>
    <th>Section</th>
    <th>Subjects</th>
    <th>Marks</th>
    <th>CGPA</th>
</tr>

{% for s in students %}
<tr>
    <td>{{ s[1] }}</td>
    <td>{{ s[2] }}</td>
    <td>{{ s[3] }}</td>
    <td>{{ s[4] }}</td>
    <td>{{ s[5] }}</td>
    <td>{{ s[6] }}</td>
    <td>{{ s[7] }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
